/* Blurb styling copied from the styling for the sidebar. */

.blurb {
  top: 0;
  bottom: 0;
  overflow-y: auto;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: .875rem; /* 15px */
  color: rgba(255,255,255,.6);
  background-color: #202020;
  border-radius: 4px;
  text-align: center;
}

.theme-base-09 .blurb {
  background-color: #d28445;
}

.theme-base-09 .blurb a {
  /* color: #d28445; */
  color: rgba(255,255,255,1);
}
